@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
.headline--primary {
  color: #50E3C2;
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 0 1.2em;
  margin-bottom: 1em; }
.headline--secondary {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 1em 0; }

.nav__item a, .nav__item--active a {
  display: block;
  font-size: 1.2rem;
  font-weight: 300;
  padding: .3em;
  margin: .5em;
  color: #858585;
  border-radius: 0.2em; }
  @media (min-width: 769px) {
    .nav__item a, .nav__item--active a {
      font-size: 1.1rem;
      width: auto;
      padding: .3em 1em;
      margin: .2em; } }

.nav__item a:hover, .nav__item--active a, .nav__item--active a:hover {
  color: #fff;
  background-color: #50E3C2; }

.img--logo, .img--avatar, .img--frame {
  display: block;
  padding: 1em; }

.form__input {
  width: 90%;
  display: block;
  font-size: 1.1rem;
  font-weight: 300;
  padding: .5em;
  margin: .5em auto 1.5em;
  border: none;
  border-bottom: 0.2em solid #b8b8b8;
  border-radius: 0.2em; }
  .form__input:focus {
    outline: none;
    border-bottom-color: #50E3C2; }

.btn--default, .btn--success, .btn--error, .btn--warning, .btn--info {
  width: 100%;
  font-size: 1.1rem;
  padding: .5em;
  margin: .5em 0;
  color: #fff;
  border: none;
  border-radius: 0.2em; }
  .btn--default:hover, .btn--success:hover, .btn--error:hover, .btn--warning:hover, .btn--info:hover {
    cursor: pointer;
    opacity: .8; }
  @media (min-width: 769px) {
    .btn--default, .btn--success, .btn--error, .btn--warning, .btn--info {
      width: auto;
      padding: .5em 1.5em;
      margin-right: 2%; } }

.grid__row::after {
  content: '';
  display: table;
  clear: both; }

.centered, .img--logo, .img--avatar, .img--frame, .main-wrapper, nav, .nav, .form__input, .grid__row {
  float: none;
  margin-left: auto;
  margin-right: auto; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  color: #6B6B6B;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  max-width: 1024px; }

.main-wrapper {
  width: 90%; }

nav {
  list-style: none; }

a {
  color: #47DEFF;
  text-decoration: none; }
  a:hover {
    color: #7ae7ff; }

p {
  text-align: left;
  margin-bottom: .5em;
  padding: 0 1.2em; }

blockquote {
  color: #525252;
  font-size: 1.3rem;
  font-weight: 900;
  font-style: italic;
  text-align: left;
  line-height: 1.5;
  border-left: 0.75em solid #50E3C2;
  padding: 0 .5em;
  margin: 1.5em; }

img {
  width: 100%; }

.description {
  color: #9e9e9e;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 0 1.5em; }

.nav {
  text-align: center;
  width: 50%;
  margin-bottom: 2em; }
  @media (min-width: 769px) {
    .nav {
      width: auto;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 0; } }

.img--logo {
  width: 40%; }
  @media (min-width: 769px) {
    .img--logo {
      width: auto; } }
.img--avatar {
  width: 40%; }

.form__label {
  display: block; }
  .form__label--hidden {
    display: none; }

.btn--default {
  background-color: #47DEFF; }
.btn--success {
  background-color: #78C58F; }
.btn--error {
  background-color: #FF8F93; }
.btn--warning {
  background-color: #FF9C7E; }
.btn--info {
  background-color: #BD9CFF; }

.grid__row {
  width: 100%;
  text-align: center;
  margin-bottom: 1.5em; }
  @media (min-width: 769px) {
    .grid__row {
      display: flex; } }
  @media (min-width: 1024px) {
    .grid__row {
      max-width: 1024px; } }
.grid__col--1.theme__colors {
  color: #fff;
  background-color: #9FADF4; }
.grid__col--2.theme__colors {
  color: #fff;
  background-color: #96EAD0; }
.grid__col--3.theme__colors {
  color: #fff;
  background-color: #CE86E9; }
.grid__col--4.theme__colors {
  color: #fff;
  background-color: #E0B47C; }
.grid__col--5.theme__colors {
  color: #fff;
  background-color: #9DE997; }
.grid__col--6.theme__colors {
  color: #fff;
  background-color: #838EDC; }
.grid__col--7.theme__colors {
  color: #fff;
  background-color: #D9856D; }
.grid__col--8.theme__colors {
  color: #fff;
  background-color: #78C0AB; }
.grid__col--9.theme__colors {
  color: #fff;
  background-color: #FF9C7E; }
.grid__col--10.theme__colors {
  color: #fff;
  background-color: #BD9CFF; }
.grid__col--11.theme__colors {
  color: #fff;
  background-color: #FF8F93; }
.grid__col--12.theme__colors {
  color: #fff;
  background-color: #7FD079; }
@media (min-width: 769px) {
  .grid__col--1 {
    width: 6.5%; }
  .grid__col--2 {
    width: 15%; }
  .grid__col--3 {
    width: 23.5%; }
  .grid__col--4 {
    width: 32%; }
  .grid__col--5 {
    width: 40.5%; }
  .grid__col--6 {
    width: 49%; }
  .grid__col--7 {
    width: 57.5%; }
  .grid__col--8 {
    width: 66%; }
  .grid__col--9 {
    width: 74.5%; }
  .grid__col--10 {
    width: 83%; }
  .grid__col--11 {
    width: 91.5%; }
  .grid__col--12 {
    width: 100%; } }

[class^="grid__col--"] {
  margin: .5em auto;
  padding: .5em 0; }
  @media (min-width: 769px) {
    [class^="grid__col--"] {
      justify-content: space-between;
      align-self: center; } }

/*# sourceMappingURL=application.css.map */
