.img {

  @include m(logo) {
    @extend %img;
    width: 40%;
    @include mq(md) {
      width: auto;
    }
  }

  @include m(avatar) {
    @extend %img;
    width: 40%;
  }

  @include m(frame) {
    @extend %img;
  }
}
