.nav {
  @extend .centered;
  list-style: none;
  text-align: center;
  width: 50%;
  margin-bottom: 2em;

  @include e(item) {
    a {
      @extend %nav-item-link;

      &:hover {
        @extend %nav-item-on;
      }
    }

    @include m(active) {
      a {
        @extend %nav-item-link;
        @extend %nav-item-on;

        &:hover {
          @extend %nav-item-on;
        }
      }
    }
  }

  @include mq(md) {
    width: auto;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }
}
