.headline {
  @include m(primary) {
    @extend %headline-primary;
  }
  @include m(secondary) {
    @extend %headline-secondary;
  }
}

.description {
	color: $grey--xlight;
	font-weight: $font-weight--light;
	font-size: 1.2rem;
	padding: 0 1.5em;
}

.blockquote {
	color: $grey--dark;
  font-size: 1.3rem;
  font-weight: $font-weight--xbold;
  font-style: italic;
  text-align: left;
  line-height: 1.5;
  border-left: .75em solid $color-primary;
  padding: 0 .5em;
  margin: 1.5em;
}
