//**************************************************//
// PLACEHOLDERS
//**************************************************//

// Center text
%center-align {
  text-align: center;
}

// Center element
%center-element {
  margin-left: auto;
  margin-right: auto;
}

// Headline texts
%headline {
  &-primary {
    color: $color-primary;
    text-align: left;
    font-size: 2rem;
    font-weight: $font-weight--bold;
    line-height: 1.2;
    padding: 0 1.2em;
    margin-bottom: 1em;
  }
  &-secondary {
    text-align: left;
    font-size: 1.2rem;
    font-weight: $font-weight--light;
    margin: 1em 0;
  }
}

// Blockquote
%blockquote {
  color: $grey--dark;
  font-size: 1.3rem;
  font-weight: $font-weight--xbold;
  font-style: italic;
  text-align: left;
  line-height: 1.5;
  border-left: .75em solid $color-primary;
  padding: 0 .5em;
  margin: 1.5em;
}

%grid-columns {
  width: 100%;
  font-size: 1.1rem;
  padding: .5em;
  margin: .5em 0;
  border: none;
}


//**************************************************//
// HELPER CLASSES
//**************************************************//
